* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover, .nav-link:hover {
    cursor: pointer;
    color: #FF8C42 !important;
}
.redes, .soporte, .legal {
    text-decoration: none;
    color: inherit;
}
.redes:hover, .soporte:hover, .legal:hover {
    color: #FF8C42;
}
.bg-custom{
    background-color: #4E598C !important;
    color: white !important;
}
.btn:hover {
    background-color: #FF8C42 !important;
}
#barraDeBusqueda {
    width:430px !important;
}

.fondo-columna {
    background-color: #FF8C42 !important;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.3024859602043942) 46%, rgba(252,175,88,0.6330181730895483) 100%);
}

/*Carousel principal en construcción*/
/* Estilos botón de trailer */
.image-container {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 400px;
}

.image-container > img {
    display: block;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    width: 300px;
    height: 400px;
    object-fit: cover;
    max-width: 300px;
    max-height: 400px;
}

.image-container:hover img {
    opacity: 0.6;
}

.trailer-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 2;
    font-weight: bold;
}

.image-container:hover .trailer-button {
    opacity: 1;
    transition: background-color 0.3s ease;
}

.trailer-button:hover{
    background-color: #f0f0f0;
}

/* Estilos para el modal */
.modal-dialog {
    max-width: 800px;
    margin: 100px auto;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.btn-close {
    position: absolute;
    right: -30px;
    top: 0;
}

/* Diseño imagen para vista menor que ordenador*/
.image-container-ext {
    width: 300px;
    height: 400px;
}

@media screen and (max-width: 1200px) {
    .image-container-ext {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
    }
}

/* Diseño en vista más reducida de la columna derecha*/
@media screen and (min-width: 1400px) {
    #columna-derecha {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
}

@media screen and (max-width: 1400px) {
    #columna-derecha > .etiqueta {
        width: auto;
        flex: 0 0 auto;
    }

    #columna-derecha {
        display: flex; !important;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
    }
}

.card-container {
    width: auto;
    height: auto;
}