nav > a:hover, .nav-link:hover {
    cursor: pointer;
    color: #FF8C42 !important;
}
.redes, .soporte, .legal {
    text-decoration: none;
    color: inherit;
}
.redes:hover, .soporte:hover, .legal:hover {
    color: #FF8C42;
}
.bg-custom{
    background-color: #4E598C !important;
    color: white !important;
}
.btn:hover {
    background-color: #FF8C42 !important;
}
#barraDeBusqueda {
    width:430px !important;
}
.navbar-collapse {
    justify-content: center;
    text-align: center;
}

.git{
    text-decoration: none;
    color: black;
}

.git:hover{
    color: #FF8C42
}

.contendedor{
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}