a:hover, .nav-link:hover {
    cursor: pointer;
    color: #FF8C42 !important;
}
.redes, .soporte, .legal {
    text-decoration: none;
    color: inherit;
}
.redes:hover, .soporte:hover, .legal:hover {
    color: #FF8C42;
}
.bg-custom{
    background-color: #4E598C !important;
    color: white !important;
}
.btn:hover {
    background-color: #FF8C42;
}
#barraDeBusqueda {
    width:430px !important;
}

.fondo-columna {
    background-color: #FF8C42 !important;
}

/*Carousel principal en construcción*/

.carousel-inner {
    display: flex; /* Asegura que los elementos se alineen horizontalmente */
}

.carousel-item {
    flex: 0 0 auto; /* Evita que los elementos se reduzcan */
    width: 100%; /* Ajusta el ancho al contenedor */
}

.carousel-item img {
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor sin deformarla */
    height: 500px; /* Establece una altura fija para pantallas grandes */
}

@media (max-width: 200px) {
    .carousel-item img {
        height: auto; /* Ajusta automáticamente la altura en pantallas pequeñas */
    }
}
.carousel-caption {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: white;
    text-align: center;
}

.carousel-caption h5 {
    font-size: 1.2rem;
    margin: 0;
}

@media (max-width: 1200px) {
    .carousel-caption {
        bottom: 5%;
        padding: 5px;
    }
    .carousel-caption h5 {
        font-size: 0.9rem; /* Texto más pequeño en móviles */
    }
}


/* Estilo PopUp Registro */

.modal-content {
    width: 80%;
    margin: 0 auto;
}
.modal-body {
    padding: 0;
}
.btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
}

.h1reg{
    font-size: 2.3em;
    font-weight: bold;
    color: black;
}
.myform-reg {
    padding: 2em;
    max-width: 100%;
    color: #fff;
    box-shadow: 0 10px 10px 0 rgba(22, 22, 26, 0.18);
}
@media (max-width: 576px) {
    .myform-reg {
        max-width: 90%;
        margin: 0 auto;
    }
}

.myform-reg .btn {
    width: 100%;
    font-weight: 800;
    background-color: #000000;
    border-radius: 0;
    padding: 0.5em 0;
}
.myform-reg .btn:hover {
    background-color: inherit;
    color: #000000;
    border-color: #fff;
}

.textoNTC{
    text-align: center;
    /*padding-top: 2em;*/
    color: grey;
}

.linkReg{
    color: #000000;
    text-decoration: none;
}
.linkReg:hover{
    color: #ff8c42;
}
.mb-3{
    color: black;
}

.password-container {
    position: relative;
}

.input-group-text {
    background: transparent;
    border-left: none;
    cursor: pointer;
}

.input-group-text i {
    font-size: 1.3rem;
    color: #666;
}

.input-group-text i:hover {
    color: #333;
}

.form-control {
    padding-right: 40px; /* Espacio para el ícono */
}

.btn-register:hover {
    background-color: #000000;
}
