.btn:hover {
    color: black !important;
}
.card {
    background-color: #4E598C !important;
}
@media (max-width: 1596px) {
    .col-comunidad {
        width: 25%; /* Muestra 4 tarjetas por fila */
    }
}
@media (max-width: 1066px) {
    .col-comunidad {
        width: 50%; /* Muestra 2 tarjetas por fila */
    }
}
@media (max-width: 576px) {
    .col-comunidad {
        width: 100%; /* Muestra 1 tarjetas por fila */
    }
}