<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reseñas.com</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style-perfil-usuario.css}">
</head>
<body class="d-flex flex-column min-vh-100">
  <!--Header-->
  <nav class="navbar navbar-expand-lg bg-custom">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Reseñas.com</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="cabecera">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="inicio" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="cine" href="#">Cine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="series" href="#">Series</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="videojuegos" href="#">Videojuegos</a>
          </li>
        </ul>
        <form class="d-flex me-auto" role="search" id="barraDeBusqueda">
          <input class="form-control me-2" type="search" placeholder="Buscar contenido" aria-label="Search">
          <button class="btn btn-outline-light text-white" type="submit">Buscar</button>
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="inicio" href="#"><i class="bi bi-bell"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" aria-current="perfil" href="#"><i class="bi bi-person"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" aria-current="cerrar sesión" href="#">Cerrar sesión</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>

  <!--Contenido principal-->
  <main>
      <div class="contenedor-ajustes-usuario container mt-5">
          <h2 class="text-center mb-5">Configuración del perfil de usuario</h2>

              <form th:action="@{'/ajustes-perfil/' + ${ajustesPerfil.idUsuario}}" method="post" enctype="multipart/form-data" th:object="${ajustesPerfil}">


              <!-- Nombre de usuario -->
              <div class="mb-3">
                  <label for="nombreUsuario" class="form-label">Nombre de usuario</label>
                  <input type="text" class="form-control" id="nombreUsuario" placeholder="Introduce tu nuevo nombre de usuario" th:field="*{nombreUsuario}">
              </div>

              <!-- Contraseña -->
              <div class="mb-3">
                  <label for="contrasena" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="contrasena" placeholder="Introduce tu nueva contraseña" th:field="*{contrasena}">
              </div>

               <!-- Foto de perfil -->
              <div class="mb-3">
                 <label for="avatar" class="form-label">Cambiar la foto de perfil</label>
                    <input type="file" class="form-control" id="avatar" th:field="*{avatar}">
                 </div>

              <!-- Biografía -->
              <div class="mb-3">
                  <label for="biografia" class="form-label">Biografía</label>
                  <textarea class="form-control" id="biografia" rows="3" maxlength="255"
                            placeholder="Describe algo sobre ti..." th:field="*{biografia}"></textarea>
              </div>

              <!-- Géneros favoritos -->
                  <div class="mb-3">
                      <label class="form-label">Géneros de películas favoritos</label>
                      <div class="d-flex gap-3 flex-wrap">
                          <div class="dropdown" th:each="i : ${#numbers.sequence(0,2)}">
                              <button class="btn btn-outline-dark rounded-pill dropdown-toggle" type="button"
                                      data-bs-toggle="dropdown" aria-expanded="false">
                              </button>
                              <ul class="dropdown-menu" style="max-height: 200px; overflow-y: auto;">
                                  <li th:each="genero : ${generosPeliculas}">
                                      <a href="#" class="dropdown-item"
                                         th:data-id="${genero.idGenero}"
                                         th:data-input-id="'idsGenerosPeliculas_' + ${i}"
                                         th:text="${genero.nombre}"
                                         onclick="seleccionarGeneroUnico(event, this)"></a>
                                  </li>
                              </ul>
                              <input type="hidden" name="idsGenerosPeliculas" th:id="'idsGenerosPeliculas_' + ${i}"
                                     th:value="${ajustesPerfil.generosPeliculas().size() > i} ? ${ajustesPerfil.generosPeliculas()[i]} : ''"/>
                          </div>
                      </div>
                  </div>

                  <div class="mb-3">
                      <label class="form-label">Géneros de series favoritos</label>
                      <div class="d-flex gap-3 flex-wrap">
                          <div class="dropdown" th:each="i : ${#numbers.sequence(0,2)}">
                              <button class="btn btn-outline-dark rounded-pill dropdown-toggle" type="button"
                                      data-bs-toggle="dropdown" aria-expanded="false">
                              </button>
                              <ul class="dropdown-menu" style="max-height: 200px; overflow-y: auto;">
                                  <li th:each="genero : ${generosSeries}">
                                      <a href="#" class="dropdown-item"
                                         th:data-id="${genero.idGenero}"
                                         th:data-input-id="'idsGenerosSeries_' + ${i}"
                                         th:text="${genero.nombre}"
                                         onclick="seleccionarGeneroUnico(event, this)"></a>
                                  </li>
                              </ul>
                              <input type="hidden" name="idsGenerosSeries" th:id="'idsGenerosSeries_' + ${i}"
                                     th:value="${ajustesPerfil.generosSeries.size() > i} ? ${ajustesPerfil.generosSeries()[i]} : ''"/>
                          </div>
                      </div>
                  </div>

                  <div class="mb-3">
                      <label class="form-label">Géneros de videojuegos favoritos</label>
                      <div class="d-flex gap-3 flex-wrap">
                          <div class="dropdown" th:each="i : ${#numbers.sequence(0,2)}">
                              <button class="btn btn-outline-dark rounded-pill dropdown-toggle" type="button"
                                      data-bs-toggle="dropdown" aria-expanded="false">
                              </button>
                              <ul class="dropdown-menu" style="max-height: 200px; overflow-y: auto;">
                                  <li th:each="genero : ${generosVideojuegos}">
                                      <a href="#" class="dropdown-item"
                                         th:data-id="${genero.idGenero}"
                                         th:data-input-id="'idsGenerosVideojuegos_' + ${i}"
                                         th:text="${genero.nombre}"
                                         onclick="seleccionarGeneroUnico(event, this)"></a>
                                  </li>
                              </ul>
                              <input type="hidden" name="idsGenerosVideojuegos" th:id="'idsGenerosVideojuegos_' + ${i}"
                                     th:value="${ajustesPerfil.generosVideojuegos().size() > i} ? ${ajustesPerfil.generosVideojuegos()[i]} : ''"/>
                          </div>
                      </div>
                  </div>

              <button type="submit" class="btn btn-primary mt-3">Guardar cambios</button><br>
          </form>
      </div>
  </main>
<!--   &lt;!&ndash;Color para el perfil&ndash;&gt;
NO SÉ SI DARÁ TIEMPO BWAAAAHHHHH
-->
<!--   <label for="color-perfil" class="form-label">Color del perfil</label>-->
<!--   <div class="mb-3" id="paleta-perfil">-->
<!--     <input type="color" class="form-control" id="color-picker" value="#33a1ff">-->
<!--     <div class="color-option" style="background-color: #db0505;"></div>-->
<!--     <div class="color-option" style="background-color: #3f814b;"></div>-->
<!--     <div class="color-option" style="background-color: #5733ff;"></div>-->
<!--     <div class="color-option" style="background-color: #ff33a1;"></div>-->
<!--     <div class="color-option" style="background-color: #ff5733;"></div>-->
<!--   </div>-->
<!-- -->
<!--   <div class="text-center m-5">-->
<!--    <a href="./perfil.html" class="btn btn-primary">Guardar cambios</a>-->
<!--</div>-->
<!-- </form>-->
<!--</div>-->

    <!--Footer-->
    <footer class="bg-custom text-center py-3 mt-5">
         <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Redes Sociales</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="redes">Facebook</a></li>
                        <li><a href="#" class="redes">Twitter</a></li>
                        <li><a href="#" class="redes">Instagram</a></li>
                        <li><a href="#" class="redes">YouTube</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Soporte</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="soporte">FAQ</a></li>
                        <li><a href="#" class="soporte">Contacto</a></li>
                        <li><a href="#" class="soporte">Soporte Técnico</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Legal</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="legal">Términos y Condiciones</a></li>
                        <li><a href="#" class="legal">Política de Privacidad</a></li>
                    </ul>
                </div>
            </div>
            <p>&copy; Reseñas.com. Todos los derechos reservados 2025.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script th:src="@{/js/ajustes-perfil.js}"></script>
</body>
</html>